<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header"><h1>Lucas' Blog</h1></div>
  <div class="menu">
        <%= link_to "Home", root_path %>
        <%= link_to "New Post", new_post_path %>
  </div>
    <%= yield %>
    <div id="footer">Created by Lucas Santos</div>
  </body>
</html>
